{% extends "base.html" %}
{% block title %}model_form_upload{% endblock title %}
{% load static %}
{% block content %}

<form action="" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ orders.as_p }}
            {{ orders.errors }}
            <!--To redirect user to prvious page after post req-->

            <input class="btn btn-success" type="hidden" value="Update">

            <button type="submit">UPDATE</button>

        </form>

{% endblock %}

