{% load static %}

            {% if request.user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Perform Better <i class="fas fa-boxes"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        {% if request.user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'authapp:dashboard' %}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="{% url 'authapp:contact' %}">Contact</a>
            </li>


        </ul>
        {% endif %}
        <span>


	    </div>
                 <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
           <div class="text-center"><a class="btn btn-outline-dark mt-auto" target="_blank"  href="{% url 'authapp:cart_clear' %}">Clear Cart</a></div>
                            </div>
             <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" target="_blank" href=" {% url 'authapp:cart_detail' %}">Cart ({{request.session.cart|length}})</a></div>
                            </div>
            <li class="nav-item dropdown">
                <a class="btn btn-danger" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{user.username}}</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'authapp:edit' %}">Edit Profile</a></li>
                                <li><hr class="dropdown-divider" /></li>

                                <li><a class="dropdown-item" href="{% url 'authapp:logout' %}">Logout</a></li>

                        <!-- Security token by Django -->
                        {% if perms.authapp.add_item %}
                        <li><a class="dropdown-item" href="{% url 'authapp:model_form_upload' %}">Upload item</a></li>
                        {% endif %}
                    </ul>

            </li>


            {% else %}
            <div class="login__left">
                <a href="{% url 'authapp:login' %}" class="btn btn-secondary">Log-in</a>
                <a href="{% url 'authapp:register' %}" class="btn btn-info ">Register</a>

            </div>

            {% endif %}

        </span>
    </div>
</nav>